.App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Green {
  background-color: green;
}

.Red {
  background-color: red;
}

.Yellow {
  background-color: yellow;
}